*{
	 margin: 0;
     padding: 0;
 	font-family: lato;      
}

#header
{
	width:100%;
	height:50px;
	background-color: #4d84c4;
}
#logo
{
	font-family: lato;
	font-size: 30px;
	color:white;
	padding-top: 5px;
	padding-left: 20px;
}
#nav
{
	
	list-style-type: none;
	margin-top:-68px;

	float: right;
	color:white;

}
#nav_1
{
	float:left;
	padding-right: 20px;

}
#nav_2
{
	float: right;
	padding-right: 30px;
	margin-top: 15px
}
.nav_a
{
	color:white;
	text-decoration: none;

}
.nav_a:hover
{
	color:white;
	text-decoration: none;

}
.nav_q
{
	margin-top: 5px;

	font-size: 22px;
    background-color: transparent;
    border: 0px;
}
.nav_q:hover
{
	margin-top: 5px;

	font-size: 22px;
    background-color: transparent;
    border: 0px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
{
	 background-color: #4c84c4;
    border: 0px;
}

#content
{
	width:80%;
	margin-left: 11%;
	margin-top: 1%;
}
#footer
{
	width:80%;
	margin-left: 11%;
	position: absolute;
	bottom: 0px;
	padding-bottom:10px; 
	border-top:1px solid #dee2e6;
}

.other-btn
{
	float: right;
	margin-top:10px;
	margin-right: 10px;
	
}
.submit
{
	margin-bottom: 5px;
	float: right;
}
.ak-blue
{

	background-color: #4c84c4;
}	
.ak-blue:hover
{
	background-color: #4c84c4;
}	
#ak_img
{
	

	width:10%;
	margin-left: 12%;
margin-top: 2%;
}
#ak_img:hover
{
	
	width:10%;
	margin-left: 12%;
margin-top: 2%;
}
/*.ak_input
{
	width:80%;
	height: 35px;
	border-radius: 5px;
	border:1px solid dimgrey;
}*/
.bulk
{
	width: 100%;
    margin-left: 0%;
    margin-top: 3%;
}
.data-show
{
	position: fixed;
	width:50%;
	margin-left:25%;
	margin-top: 1.5%

}
.alert
{
	    padding: .15rem 1em;
}
.star
{
	color:red;
}
#choose
{
	display: none;
}#choose1
{
	display: none;
}

#ad
{
	display: none;
}
#bulk_drop
{
  width:50%;
  margin-left:25%;
  margin-top: 3%;
}
#bulk_drop1
{
	width:90%;
	height: 5%;
	margin-left:5%;
	margin-top: 1%;
}
#dropZone
{
      height: 140px;
    border: 2px dashed #4c84c4;
}


.content[_ngcontent-c1]
{
  font-size: 25px;
  font-weight: bold;
  font-family: lato;
  padding-top: 35px;
}
.upload-table
{
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
  width:40%;
  top:48%;
  height:270px;
}
.login_d
{
	width:30%;
	margin-top:15vw;
	margin-left:34vw;


}
.employ
{
	margin-bottom: 20px;
}
.card
{
	border:0px !important;
}
h4
{
	font-size:0.9rem !important;
}
.mb-3, .my-3
{
	margin-right: 14px;
	height:2vw;
	margin-bottom: 0.5rem!important;
}
#nav_ecode
{

		margin-left:120px;
		margin-top:-50px;
		width:15vw;
		list-style-type: none;
	}

.ecode1

{
	width:25%;
	float: left;
	margin-top: -38px;
	margin-left: 200px;

}
.ecode2
{
width:25%;

float: right;
	margin-top: -38px;
	margin-right: 420px;
	display: flex;
}
.bg-light
{
	width: 83.2vw;
}
.upar
{
	    margin-top: -25px;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.bg-light
{
	
    width: 79vw !important;

}
#hidethis
{
	display: block;
}
.drop-zone[_ngcontent-c1] {
   

    border-radius: 0px !important;
}
#dropZone {
    height: 25px;
    border: 2px dashed #4c84c4;

}
.content[_ngcontent-c1] {
    color: #0782d0;
    height: 100px;
    font-size: 15px;
    margin-top: -58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mb-3, .my-3 {
     margin-right: 0px !important; 
    height: 2vw;
    margin-bottom: 0.5rem!important;
}
#showposition
{
	    width: 79vw;
    margin-left: 11vw;
    margin-top: 10px;
}

.form-inline .form-group { margin-right:10px; }
.well-primary {
color: rgb(255, 255, 255);
background-color: rgb(66, 139, 202);
border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }


.droppable { background: #08c; color: #fff; padding: 100px 0; text-align: center; }

.droppable.dragover { background: #00CC71; }